<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      body {
        font-family: Futura;
        text-align:  center;
        font-weight: bold;
      }
      .gt { font-family: 'Good Times' }
    </style>
  </head>
  <body>

    <div style="margin-top:490pt">
      <div class="gt" style="font-size:20pt;margin-top:10pt">
        Mittwoch, 2. September 2015
      </div>

      <div style="font-size:36pt;font-weight:bold;margin-top:22pt;font-family:Verdana"><%= @athlete.vorname + ' ' + @athlete.nachname %></div>

      <div class="gt" style="font-size:24pt;margin-top:24pt"><%= @rang %>. Rang</div>
      <div class="gt" style="font-size:14pt;line-height:18pt"><%= @category.geschlecht_plural %> - Jahrgang <%= @category.jahrgang.first %></div>

      <div style="font-size:18pt;margin-top:39pt">www.lcemmenstrand.ch</div>
    </div>

  </body>
</html>
